{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
  <html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'Curso/node_modules/bootstrap/compiler/bootstrap.css' %}"> 
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <link rel="stylesheet" href="{% static 'Curso/node_modules/font-awesome/css/font-awesome.css' %}">
    
    <script src="https://kit.fontawesome.com/0dfab7069d.js" crossorigin="anonymous"></script>



    <title>Perfil</title>
  </head>
  <body>

      <div class="container-fluid mybg" style="min-height:700px">

 {% include 'nav-bar.html' %}
          
        <div class="container-fluid">
            <div class="col-md-12 ">
                <div class="row justify-content-center">
                         {% if perfil.foto %}
                         <img src="{{MEDIA_URL}}{{perfil.foto.url}}" style="height: 350px;" class="rounded">
                        {% endif %}
                </div>
                    <div class="row justify-content-center">
                        <h2  class="text-dark display-2">{{ perfil.user.user.username}}</h2>
                    </div>
                    <div class="row justify-content-center">
                            <p class="text-dark display-7">
                                {{perfil.user.user.email}}</p>

                            <p class="text-dark display-7">Leciona: {{perfil.leciona}}</p>
                    </div>
                        <div class="row justify-content-center">
                        <div class="mbr-section-btn pt-3 align-left">
                            <button type="button" class="btn btn-dark display-4" data-toggle="modal" data-target="#exampleModalLong">
                              Editar
                        </button>
                            </div>

                        </div>
                </div>
              </div>
      </div>
  
  


  
    {% include 'fotters.html' %}
      
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <form method="POST" enctype="multipart/form-data" class="post-form">
                                  {% csrf_token %}
                               {{ form|crispy }}

            <button class="btn btn-lg btn-success" style="margin:auto;" type="submit">Enviar</button>
         </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/popper/popper.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>


  </body>
  </html>