{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
  <html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'Curso/node_modules/bootstrap/compiler/bootstrap.css' %}"> 
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <link rel="stylesheet" href="{% static 'Curso/node_modules/font-awesome/css/font-awesome.css' %}">
    
    <script src="https://kit.fontawesome.com/0dfab7069d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>



    <title>Perfil</title>
  </head>
  <body>

      <div class="mybg" style="min-height: 85vh; max-height: 85vh">
        {% include 'nav-bar.html' %}
            
              <div class="container-fluid">
                  <div class="row justify-content-center">
                        
                            <h2 class="text-dark"><br>{{escola.nome}}</h2>
                  </div>
                  <div class="row justify-content-center">
                            <h3 class="text-dark">{{ escola.dependencia }}<br>{{ escola.municipio }}</h3>
                  </div>
               
                <div class="row justify-content-center">
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                            Ver dados da escola
                    </button>
                </div>
          </div>
      </div>
      
<section class="features4 cid-rYq1qm7z53" id="features4-i">      
      
<div class="container-fluid my-5">
  <div class="row justify-content-sm-center">

    <div class="col-sm-6 col-md-4">

      <div class="card mb-5 bg-white rounded">

        <div class="card-body">

          {{ g1|safe }}
          

        </div>

      </div>

    </div>






    <div class="col-sm-6 col-md-4">

      <div class="card mb-5 bg-white rounded">

        <div class="card-body ">
        
            {{ g2|safe }}
            
        </div>

      </div>

    </div>

  </div>
</div>
      </section>
      <section class="services6 cid-rYq1IkyhOa" id="services6-k">
    <!---->

    <!---->
    <!--Overlay-->

    <!--Container-->
    <div class="container">
        <div class="row justify-content-center">

    <div class="col-sm-12">

        <h1 class="text-black-50">Novo Professor</h1>
         <div id="teste_prof" >
                 <form method="post" id="buscar_professor">
                     {% csrf_token %}
                     <div class="form-group">
                        <input type="text" class="form-control" id="nomeprofessor" required="" placeholder="Qual o nome do professor que você quer cadastrar?" data-form-field="nome">
                    </div>
                     <div class="text-left" id="teste_cadastro3">
                         <button type="submit" class="btn btn-success mb-5">Conferir</button>
                         <hr>
                     </div>


                 </form>
                 <button id="c3" onclick='prox3(this)' class="btn btn-success mb-5">Continuar</button>
         </div>

      <form method="POST" id="post-form" data-form-title="Novo professor">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="nome" required="" placeholder="Nome*" data-form-field="nome">
            </div>

            <div class="form-group">
                <input type="tel" class="form-control" id="instgrad" placeholder="Instituição de graduação" data-form-field="instgrad">
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" id="periodograd" placeholder="Período de graduação (ex:2010-2014)" data-form-field="periodograd">
            </div>


            <div class="form-group">
                <input type="tel" class="form-control" id="iniciomagis" placeholder="Início no magistério (ex: 2010)" data-form-field="iniciomagis">
            </div>

            <div class="form-group">
                <textarea class="form-control" id="cursograd" rows="7" placeholder="Graduado em:" data-form-field="cursograd"></textarea>
            </div>




            <div class="text-left"><button type="submit" class="btn btn-success mb-5">Adicionar</button></div>
    </form>

    </div>




            <!--Titles-->
            <div class="title my-4">
                <h2 class="align-left m-0 display-1">Lista de professores</h2>

            </div>
            <!--Card-1-->
            
            <div class="card col-12">
                <div class="card-wrapper media-container-row">
                    <div class="col-sm-12">
                                                        <table class="table isSearch" cellspacing="0">
                                                        <thead>
                                                          <tr class="table-heads text-black-50">




                                                          <th class=" display-7">
                                                                  NOME</th><th class="display-7">
                                                                  TEMPO NO MAGISTÉRIO</th><th class="head-item mbr-fonts-style display-7">
                                                                  ENSINO MÉDIO</th><th class="head-item mbr-fonts-style display-7">
                                                                  MODIFICAR</th></tr>
                                                        </thead>

                                                          <tbody class="posts">


                                                        {% for p in professores %}

                                                            <tr>
                                                                <td class="body-item mbr-fonts-style display-7">{{ p.nome }}</td>
                                                                <td class="body-item mbr-fonts-style display-7">{{ p.inimagisterio }}</td>
                                                                <td class="body-item mbr-fonts-style display-7">{{p.ensinomedio}}</td>
                                                                <td class="body-item mbr-fonts-style display-7">
                                                                    {% csrf_token %}
                                                                    <button type="button" class="btn-success mr-1" onclick='getprofile1(this)' value='{{p.id}}' data-toggle="modal" data-target="#exampleModal">Editar</button>
                                                                    <button type="button" class="btn-danger" onclick='desativar1(this)' value='{{p.id}}' >Desativar</button>

                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                         </tbody>


                                                      </table>
                                                     {% include 'usuario/modal_prof.html' %}

                                                </div>
                                            </div>

                </div>
            </div>
            
        </div>
    </div>
</section>
          
        {% include 'fotters.html' %}
      
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Dados da escola</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div data-form-alert="true"><div hidden="" data-form-alert-success="true">Thanks for filling out form!</div></div>
                <form method="POST" id="post-form4" data-form-title="Novo professor">
                    {% csrf_token %}
                    <input type="hidden" value="6HWg9qVFZM40FHR/0hFIyq1WOP2oEDIBRDeMuXYK8F8hr1ZHFnf9JbLvgFDlIIzcxc3iGZiJ6rUz/UtcXMk9fnKpnu5byLkIaZ75Z1N4T2Fb2oKOyp3tyuSIn9ZF1bs7" data-form-email="true">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nome1" required="" placeholder="Nome da escola*" data-form-field="nome" value="{{ escola.nome }}">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="regiao" required="" placeholder="Região*" data-form-field="regiao" value="{{ escola.regiao }}">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="uf" placeholder="Estado" data-form-field="uf" value="{{escola.uf}}">
                    </div>
                    <div class="form-group">
                        <input type="tel" class="form-control" id="municipio" placeholder="Município" data-form-field="{{escola.municipio}}">
                    </div>


                    <div class="form-group">
                        <input type="tel" class="form-control" id="cod_municipio" placeholder="Código do município" data-form-field="cod_municipio" value="{{ escola.cod_municipio}}">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" id="dependencia" rows="7" placeholder="Dependência administrativa" data-form-field="dependencia">{{escola.dependencia}}</textarea>
                    </div>






      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit"  class="btn btn-primary">Salvar</button>
      </div>
         </form>
          </div>
    </div>
  </div>
</div>

      

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/popper/popper.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    {% csrf_token %}
      <script>

        $( "#post-form" ).hide();

        $("#c3").hide();
      </script>
<script>
  function trocarvinculo(obj){

       $.ajax({
                type:'POST',
                url:'{% url "perfil:mudarvinculo" %}',
                data:{
                    id : obj.value,
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
            success:function(json){
              alert('Sucesso');
               },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
        });
        return obj.value

 };
</script>
 <script>
    $(document).on('submit', '#post-form4',function(e){

    $.ajax({
        type:'POST',
        url:'{% url "perfil:editescola" %}',
        data:{
            nome:$('#nome1').val(),
            regiao:$('#regiao').val(),
            municipio:$('#municipio').val(),
            cod_municipio:$('#cod_municipio').val(),
            uf:$('#uf').val(),
            dependencia:$('#dependencia').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){

           alert('Sucesso!');
           },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>
      <script>
            $(document).on('submit', '#buscar_professor',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "perfil:testeprof" %}',
                    data:{
                        nome:$('#nomeprofessor').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success:function(json){
                        if (json.result == "True"){
                             $("#teste_cadastro3").append('<p>Esse nome já existe, continuar mesmo assim?</p>');
                             $("#c3").show();

                        }else{
                             $("#teste_cadastro3").append("Esse nome está disponível");
                             $("#c3").show();
                            }
                        },

                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
                });
             });
        </script>

      <script>
      $(document).on('submit', '#post-form3',function(e){
        $.ajax({
            type:'POST',
            url:'{% url "perfil:editarprofessor"  %}',
            data:{

                nome:$('#nome2').val(),
                ensinomedio:$('#ensinomedio2').val(),
                iniciomagis:$('#iniciomagis2').val(),
                id: document.getElementById('idprof').innerHTML,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
        success:function(json){
            document.getElementById("post-form3").reset();
            alert('Sucesso!!');
           },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
   });
   </script>
      <script>
          function prox1(obj){
            $("#c1").hide();
            var nome = $("#nomeescola").val();
            $("#buscar_escola").hide();
            $("#nome1").val(nome);
            $("#buscar_username").show();
    };
      </script>
       <script>
          function prox2(obj){
            $("#c2").hide();
            var nome = $("#username").val();
            $("#buscar_username").hide();
            $("#nomedeusuario").val(nome);
            $("#post-form1").show();
    };
      </script>
      <script>
          function prox3(obj){
            $("#c2").hide();
            var nome = $("#nomeprofessor").val();
            $("#teste_prof").hide();
            $("#nome").val(nome);
            $("#post-form").show();
    };
      </script>
           <script>
    $(document).on('submit', '#post-form',function(e){


    $.ajax({
        type:'POST',
        url:'{% url "perfil:escola" %}',
        data:{
            nome:$('#nome').val(),
            instgrad:$('#instgrad').val(),
            cursograd:$('#cursograd').val(),
            periodograd:$('#periodograd').val(),
            iniciomagis:$('#iniciomagis').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
            document.getElementById("post-form").reset();
            alert('Sucesso');
           },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>



      <script src="{% static 'jquery/funcao.js' %}"></script>



  
      </body>
  </html>