{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'Curso/node_modules/bootstrap/compiler/bootstrap.css' %}"> 
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <link rel="stylesheet" href="{% static 'Curso/node_modules/font-awesome/css/font-awesome.css' %}"> 
      
    
    <script src="https://kit.fontawesome.com/0dfab7069d.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      

    <title>Secretaria</title>
  </head>
  <body>
      
      <div class="container-fluid mybg" style="min-height:900px">
          
        {% include 'nav-bar.html' %}
          

                <div class="row-fluid">

                    <div class="col-12">

                      <ul class="nav nav-pills justify-content-center mb-3" id="pills-nav" role="tablist">

                        <li class="nav-item ">                            
                          <a class="nav-link active btn btn-success mx-2 my-2" id="nav-pills-01" data-toggle="pill" href=#nav-item-01>Incluir Professor</a>
                        </li>

                        <li class="nav-item">                            
                          <a class="nav-link btn btn-success mx-2 my-2" id="nav-pills-02" data-toggle="pill" href=#nav-item-02>Incluir Escola</a>
                        </li>

                        <li class="nav-item">                            
                          <a class="nav-link btn btn-success mx-2 my-2" id="nav-pills-03" data-toggle="pill" href=#nav-item-03>Tabela de Dados</a>
                        </li>

                      </ul>

                      <div class="tab-content" id="nav-pills-content">

                        <div class="tab-pane fade show active text-center" id="nav-item-01" role="tabpanel">

                          {% include 'usuario/incluir_professor.html' %}

                        </div>

                        <div class="tab-pane fade  text-center" id="nav-item-02" role="tabpanel">
                            
                            {% include 'usuario/incluir_escola.html' %}

                        </div>

                        <div class="tab-pane fade text-center" id="nav-item-03" role="tabpanel">

                           <div class="row justify-content-center">                                  

                                  {% include 'usuario/table_escola.html' %}

                            {% include 'usuario/modal_escola.html' %}

                               
                            
                           </div>



                        </div>

                        </div>

                      </div>

                    </div>

                </div>
        
      
    <section>
        <div class="container-fluid my-5">
        <div class="row justify-content-center my-3"><h1 class="text-dark">Dados</h1></div>
    
    
      <div class="row justify-content-sm-center">

        <div class="col-sm-6 col-md-4">

          <div class="card mb-5 bg-white rounded">

            <div class="card-body">

              <h4>
                                Graduação por área
                            </h4>

                                {{ response|safe }}


            </div>

          </div>

        </div>






        <div class="col-sm-6 col-md-4">

          <div class="card mb-5 bg-white rounded">

            <div class="card-body ">

              <h4>
                                Pós-graduação por área
                            </h4>
                            {{ response1|safe }}
            </div>

          </div>

        </div>

        <div class="col-sm-6 col-md-4">

          <div class="card mb-5 bg-white rounded">

            <div class="card-body ">

            <h4>
                Quantidades de professores
            </h4>      
                            {{ response2|safe}}
            </div>

          </div>

        </div>

      </div>
    </div>
    
</section>
      
      {% include 'fotters.html' %}
      
      
      
      
   
      
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/popper/popper.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
      <script>

        $( "#post-form" ).hide();
        $( "#post-form1" ).hide();
        $("#buscar_username").hide();
        $("#c1").hide();
        $("#c2").hide();
        $("#c3").hide();
      </script>
       <script>
            $(document).on('submit', '#buscar_escola',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "perfil:testenome" %}',
                    data:{
                        nome:$('#nomeescola').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success:function(json){
                        if (json.result == "True"){
                             $("#teste_cadastro").append('<p>Esse nome já existe, continuar mesmo assim?</p>');
                             $("#c1").show();
                        }else{
                             $("#teste_cadastro").append("Esse nome está disponível");
                             $("#c1").show();
                            }
                        },

                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
                });
             });
        </script>
      <script>
            $(document).on('submit', '#buscar_username',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "perfil:testeuser" %}',
                    data:{
                        nome:$('#username').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success:function(json){
                        if (json.result == "True"){
                             $("#teste_cadastro2").append('<p>Esse nome já existe, escolha outro</p>');

                        }else{
                             $("#teste_cadastro2").append("Esse nome está disponível");
                             $("#c2").show();
                            }
                        },

                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
                });
             });
        </script>

       <script>
            $(document).on('submit', '#buscar_professor',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "perfil:testeprof" %}',
                    data:{
                        nome:$('#nomeprofessor').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success:function(json){
                        if (json.result == "True"){
                             $("#teste_cadastro3").append('<p>Esse nome já existe, continuar mesmo assim?</p>');
                             $("#c3").show();

                        }else{
                             $("#teste_cadastro3").append("Esse nome está disponível");
                             $("#c3").show();
                            }
                        },

                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
                });
             });
        </script>
      <script>
    $(document).on('submit', '#post-form',function(e){
     e.preventDefault();

    var select = document.getElementById("selectescola");

    $.ajax({
        type:'POST',
        url:'{% url "perfil:secretaria" %}',
        data:{
            nome:$('#nome').val(),
            instgrad:$('#instgrad').val(),
            cursograd:$('#cursograd').val(),
            periodograd:$('#periodograd').val(),
            iniciomagis:$('#iniciomagis').val(),

            escola:select.options[select.selectedIndex].value,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
            document.getElementById("post-form").reset();
            alert('Sucesso');
           },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>
      
<script>
    $(document).on('submit', '#post-form1',function(e){

    e.preventDefault();
    var select = document.getElementById("select");
    $.ajax({
        type:'POST',
        url:'{% url "perfil:addescola" %}',
        data:{
            nome:$('#nome1').val(),
            regiao:$('#regiao').val(),
            uf:$('#uf').val(),
            dependencia:select.options[select.selectedIndex].value,
            nomedeusuario : $('#nomedeusuario').val(),
            senha:$('#senha').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
            document.getElementById("post-form1").reset();
            alert("Sucesso");
            $(".posts").append('<tr><td class="body-item mbr-fonts-style display-7">'+json.nome+'</td><td class="body-item mbr-fonts-style display-7">'+ json.dependencia +'</td><td class="body-item mbr-fonts-style display-7"><button type="button" class="btn-success mr-1" onclick="getprofile_e(this)" value='+json.id+' data-toggle="modal" data-target="#exampleModal1">Editar</button><button type="button" class="btn-success" onclick="desativar_e(this)" value='+json.id+' >Desativar</button></td></tr>');
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>
      <script>
    $(document).on('submit', '#post-form4',function(e){

    e.preventDefault();
    $.ajax({
        type:'POST',
        url:'{% url "perfil:editescolas" %}',
        data:{
            id: document.getElementById('idesc').innerHTML,
            nome:$('#nome3').val(),
            regiao:$('#regiao3').val(),
            uf:$('#uf3').val(),
            dependencia:$('#dependencia3').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success:function(json){
            document.getElementById("post-form4").reset();
            $(".posts2").append('<tr><td class="body-item mbr-fonts-style display-7">'+json.nome+'</td><td class="body-item mbr-fonts-style display-7">'+ json.dependencia +'</td></tr>')
        },
        error : function(xhr,errmsg,err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
    }
    });
});
</script>


      <script>
          function prox1(obj){
            $("#c1").hide();
            var nome = $("#nomeescola").val();
            $("#buscar_escola").hide();
            $("#nome1").val(nome);
            $("#buscar_username").show();
    };
      </script>
       <script>
          function prox2(obj){
            $("#c2").hide();
            var nome = $("#username").val();
            $("#buscar_username").hide();
            $("#nomedeusuario").val(nome);
            $("#post-form1").show();
    };
      </script>
      <script>
          function prox3(obj){
            $("#c2").hide();
            var nome = $("#nomeprofessor").val();
            $("#teste_prof").hide();
            $("#nome").val(nome);
            $("#post-form").show();
    };
      </script>
      <script src="{% static 'jquery/funcao.js' %}"></script>
      
    
    
  </body>
</html>