.mycarousel{
    width: 75%;
}

.mybg{
    background-image: linear-gradient(to right top, #80cc28, #6ecd41, #5ccc54, #49cc66, #35cb76, #1ec987, #03c695, #00c3a1, #00bdae, #00b7b8, #00b0bf, #00a8c2);
    width: 100%;
    height: 100vh;

}

.explic{

background-position:center;
background-repeat:no-repeat;
background-size:cover;
padding:15px;


}
.col-centered{
float: none;
margin: 0 auto;
}
img{
max-width: 100%;
    height: 50%; !important
    width: auto\9;
}




