
{%  if user.is_authenticated %}

    {%  if user.perfil.tipo == 1 %}
        <nav class="navbar navbar-expand-md navbar-dark";>

          <div class="container-fluid">


            <a class="navbar-brand h1 mb-0 ml-0" href="{% url 'noticias:home' %}"><img src="/media/icon2.png" style="height: 100px; width: 100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSite">

                <!-- Dropdown

                <ul class="navbar-nav ml-auto mb-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">
                            Estatísticas
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'noticias:estatisticas' %}">Gráficos</a>
                            <a class="dropdown-item" href="{% url 'perfil:perguntas' %}">Responder Questionários</a>
                        </div>
                    </li>

                </ul> -->
                
                
                
                <ul class="navbar-nav ml-auto mb-0">
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><strong>Quem Somos</strong></a>
                    </li>
                        
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><strong>Sobre a Pesquisa</strong></a>
                    </li>  
                        
                     <li class="nav-item">
                        <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#siteModals"><strong>Guia de Usuário</strong></a>
                     </li>
                    
                     <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'noticias:estatisticas' %} "><strong>Resultados</strong></a>
                    </li>
                </ul>
                
                 <ul class="navbar-nav ml-0 mb-0">
                     <li class="nav-item">
                         <a class="nav-link text-light" href="{% url 'perfil:perguntas' %}" ><strong>Questionários</strong></a>
                    </li>
                </ul>               
                
                
                <!-- <ul class="navbar-nav ml-0 mb-0">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'noticias:posts' %}">Notícias</a>
                    </li>
                </ul> -->

                <ul class="navbar-nav" style="margin-left: 50px !important ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-outline-success text-light " data-toggle="dropdown" id="navDrop">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'perfil:professor' %}">Meu Perfil</a>
                            <a class="dropdown-item" href="{% url 'perfil:mudarsenha' %}">Mudar Senha</a>
                            <a class="dropdown-item" href="{% url 'perfil:do_logout' %}">Sair</a>
                        </div>
                    </li>

                </ul>



            </div>

          </div>
        </nav>
    {% endif %}

    {% if user.perfil.tipo == 2 %}
         <nav class="navbar navbar-expand-md navbar-dark";>

          <div class="container-fluid">


            <a class="navbar-brand h1 mb-0 ml-0" href="{% url 'noticias:home' %}"><img src="/media/icon2.png" style="height: 100px; width: 100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSite">
                <!--
                <ul class="navbar-nav ml-auto mb-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="navDrop">
                            Estatísticas
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'noticias:estatisticas' %}">Gráficos</a>
                            <a class="dropdown-item" href="{% url 'perfil:perguntas' %}">Responder Questionários</a>
                        </div>
                    </li>

                </ul>
                -->
                <ul class="navbar-nav ml-auto mb-0">
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><strong>Quem Somos</strong></a>
                    </li>
                        
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><strong>Sobre a Pesquisa</strong></a>
                    </li>  
                        
                     <li class="nav-item">
                        <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#siteModal"><strong>Guia de Usuário</strong></a>
                     </li>
                    
                     <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'noticias:estatisticas' %} "><strong>Resultados</strong></a>
                    </li>
                </ul>
                
                <ul class="navbar-nav ml-0 mb-0">
                     <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'perfil:perguntas' %}"><strong>Questionários</strong></a>
                    </li>
                </ul>
                <!--
                <ul class="navbar-nav ml-0 mb-0">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'noticias:posts' %}">Notícias</a>
                    </li>
                </ul>
                -->

                <ul class="navbar-nav" style="margin-left: 50px !important">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-outline-success text-light" data-toggle="dropdown" id="navDrop">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'perfil:escola' %}">Minha Escola</a>
                            <a class="dropdown-item" href="{% url 'perfil:mudarsenha' %}">Mudar Senha</a>
                            <a class="dropdown-item" href="{% url 'perfil:do_logout' %}">Sair</a>
                        </div>
                    </li>

                </ul>



            </div>

          </div>
        </nav>
    {% endif %}

    {% if user.perfil.tipo == 3 %}

        <nav class="navbar navbar-expand-md navbar-dark";>

          <div class="container-fluid">


            <a class="navbar-brand h1 mb-0 ml-0" href="{% url 'noticias:home' %}"><img src="/media/icon2.png" style="height: 100px; width: 100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSite">

                <ul class="navbar-nav ml-auto mb-0">
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><strong>Quem Somos</strong></a>
                    </li>
                        
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><strong>Sobre a Pesquisa</strong></a>
                    </li>  
                        
                     <li class="nav-item">
                        <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#siteModal"><strong>Guia de Usuário</strong></a>
                     </li>
                    
                     <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'noticias:estatisticas' %} "><strong>Resultados</strong></a>
                    </li>
                </ul>
                
                <ul class="navbar-nav ml-0 mb-0">
                     <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'perfil:perguntas' %}"><strong>Questionários</strong></a>
                    </li>
                </ul>
                
                <!--
                <ul class="navbar-nav ml-0 mb-0">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'noticias:posts' %}">Notícias</a>
                    </li>
                </ul>
                -->
                <ul class="navbar-nav" style="margin-left: 50px !important">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-outline-success text-white" data-toggle="dropdown" id="navDrop">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'perfil:secretaria' %}">Minha Secretaria</a>
                            <a class="dropdown-item" href="{% url 'perfil:mudarsenha' %}">Mudar Senha</a>
                            <a class="dropdown-item" href="{% url 'perfil:do_logout' %}">Sair</a>
                        </div>
                    </li>

                </ul>



            </div>

          </div>
        </nav>

    {% endif %}

    {% if user.is_staff %}
        
        <nav class="navbar navbar-expand-md navbar-dark";>

          <div class="container-fluid">


            <a class="navbar-brand h1 mb-0 ml-0" href="{% url 'noticias:home' %}"><img src="/media/icon2.png" style="height: 100px; width: 100px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSite">
            
                <ul class="navbar-nav ml-auto mb-0">
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><strong>Quem Somos</strong></a>
                    </li>
                        
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><strong>Sobre a Pesquisa</strong></a>
                    </li>  
                        
                     <li class="nav-item">
                        <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#siteModal"><strong>Guia de Usuário</strong></a>
                     </li>
                    
                     <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'noticias:estatisticas' %} "><strong>Resultados</strong></a>
                    </li>
                </ul>
                <!--
                <ul class="navbar-nav ml-0 mb-0">
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'noticias:posts' %}">Notícias</a>
                    </li>
                </ul>
                -->
                <ul class="navbar-nav " style="margin-left: 50px !important ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-outline-success text-light" data-toggle="dropdown" id="navDrop">
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'perfil:adm' %}">Administrar Questionários</a>
                            <!-- <a class="dropdown-item" href="{% url 'perfil:postar' %}">Administrar Postagens</a> -->
                            <a class="dropdown-item" href="{% url 'perfil:mudarsenha' %}">Mudar Senha</a>
                            <a class="dropdown-item" href="{% url 'perfil:do_logout' %}">Sair</a>
                        </div>
                    </li>

                </ul>



            </div>

          </div>
        </nav>
        
    {% endif %}

    
        
{% else %}

      <nav class="navbar navbar-expand-md navbar-dark";>

              <div class="container-fluid">


                <a class="navbar-brand h1 mb-0 ml-0" href="{% url 'noticias:home' %}"><img src="/media/icon2.png" style="height: 100px; width: 100px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSite">
                    <!--
                    <ul class="navbar-nav ml-auto mb-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navDrop">
                                Estatísticas
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'noticias:estatisticas' %}">Gráficos</a>
                            </div>
                        </li>

                    </ul>
                    -->
                    
                    <ul class="navbar-nav ml-auto mb-0" >
                        
                    <li class="nav-item">
                        <a class="nav-link text-light" href=""><strong>Quem Somos</strong></a>
                    </li>
                        
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/resultado/teste.html"><strong>Sobre a Pesquisa</strong></a>
                    </li>  
                        
                     <li class="nav-item">
                        <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#siteModals"><strong>Guia de Usuário</strong></a>
                     </li>
                        
                     <li class="nav-item">
                         <a class="nav-link text-light" href="{% url 'noticias:estatisticas' %}"><strong>Resultados</strong></a>
                     </li>
                </ul>
                    
                    
                    
                    <!--
                    <ul class="navbar-nav ml-0 mb-0">
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'noticias:posts' %}">Notícias</a>
                        </li>
                    </ul>
                    -->

                    <ul class="navbar-nav" style="margin-left: 50px !important ">
                         <li class="nav-item">
                            <a  class="btn btn-outline-success text-light" href="{% url 'perfil:do_login' %}" >Entrar</a>
                        </li> 
                    </ul>



                </div>
                  
              </div>
          </nav>
{% endif %}

{% include 'resultado/modal_user.html'%}

  